@font-face {
  font-family: "iconfont"; /* Project id 2776595 */
  src: url('iconfont.woff2?t=1648022780300') format('woff2'),
       url('iconfont.woff?t=1648022780300') format('woff'),
       url('iconfont.ttf?t=1648022780300') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youyou-:before {
  content: "\e642";
}

.icon-return:before {
  content: "\e6ba";
}

.icon-nv:before {
  content: "\e60d";
}

.icon-nan:before {
  content: "\e8b3";
}

.icon-youxiang:before {
  content: "\e604";
}

.icon-anli:before {
  content: "\e60b";
}

